<section class="container">
  <div class="row">
    <h2 class="text-center my-5">Lista de tarefas para hoje:</h2>
    <ul class="list-group list-group-flush">
      <div class="d-flex justify-content-between align-items-center">
        @for (tarefa of tarefas; track tarefa.id) {
        <div class="d-flex flex-column align-items-center">
          <li class="list-group-item mx-5 text-center" [ngClass]="{'texto-tachado': tarefa.status}"> {{ tarefa.descricao
            }} </li>
          <button class="btn btn-secondary my-3" (click)="alternarStatus(tarefa)">Alterar status</button>
        </div>
        } @empty {
        <li> There are no items. </li>
        }
      </div>
    </ul>
  </div>
</section>